on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - '\d+\.\d+\.\d+'

name: Publish to Pypi

jobs:
  deploy:
    name: Deploy to PYPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make install_deploy

      - name: Build the archives
        run: |
          python -m build --sdist --wheel --outdir dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_PASSWORD }}
